on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  run-scheduled-task:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run my script
        run: |
          echo "This task runs on a schedule!"
